// colors

$grey-100: #cecece;
$grey-500: #323232;
$blue-100:#0062ff;
$blue-200:#3b6caa;


// screen sizes

$md: 768px;
$lg: 991px;
$exlg: 1199px;
$xl: 1400px;

// font
$baseFont:'IBM Plex Sans', sans-serif;

//sizes
$light:200;
$regular:400;
$medium:500;
$semibold:600;
$bold: 700;