.c-accordion{
    
}
.c-accordion__title{
    cursor: pointer;
    position: relative;

    &::after{
        content:"";
        display: block;
        width:13px;
        height:1px;
        background-color:$grey-500;
        position: absolute;
        right:31px;
        top:50%;
        transform:translateY(-50%);
    }
    &::before{
        content:"";
        display: block;
        height:12px;
        width:1px;
        background-color:$grey-500;
        position: absolute;
        right:37px;
        top:50%;
        transform:translateY(-50%);

    }
    &:hover{
        background-color:$blue-200;
        color:#fff;
        &::before,&::after{
            background: #fff;
        }
    }
    &.is-active{
        font-weight: $medium;
        &::before{
            display: none;
        }
    }
}
.c-accordion__body{
    display: none;
}