.c-overlay{
    background-color: rgba(#000,0.4);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    display: none;
    &.active{
        display: block;
    }
}