html,body{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
header,nav,section,aside,footer{
    display: block;
}
ul,ol{
    padding:0;
    list-style-type: none;
    margin:0;
}
a{
    text-decoration: none;
    color:$grey-500;
}

body{
    background-color: $grey-100;
    overflow: hidden;
}
strong{
    font-weight: $medium;
}
img{
    max-width: 100%;
}