.navbar{
    
    position: relative;
    &::after{
        content:"";
        display: block;
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        border-bottom:1px solid #cecece;
    }
}
.navbar-content{
    padding:0 20px;
    min-height: 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
  
  
}
.navbar-logo{
    img{
        max-width: 60px;
    }
}
.navbar-trigger{
    margin-left:auto;
    cursor: pointer;
}
.navbar-menu__close{
    position: absolute;
    right:25px;
    top:0;
    height:50px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        display: block;
        position: relative;
        height:28px;
        width:24px;
        cursor: pointer;
 
        &::before,&::after{
            content:"";
            background-color: $grey-500;
            width:18px;
            height:1px;
            display: block;
            position: absolute;
            left:0;
            right:0;
            margin:0 auto;
            top:14px;
        }
        &::before{
            transform:rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
        
    }
}
.navbar-menu{
    &.desktop{
        display: none;
        @include min-mq($lg){
            display: block;
        }
        .menu{  display: flex; margin-left:15px}
        .menu-list{
         padding:0 15px;
         position: relative;
         > a{
             padding-top:16px;
             padding-bottom: 16px;
             display: block;
         }
         &::after{
            content:"";
            display: block;
            background-color:darken($blue-200,10%);
            height:0;
        
            position: absolute;
            bottom:1px;
            left:15px;
            right:15px;
            transition:height 0.3s;
        }
         &:hover{
             > a{
                 color:$blue-100;
             }
             &::after{
                 height: 4px;
             }
         }
        }
        .menu-item{
            font-size:18px;
            padding-right:25px;
            
            > a{
                
                display: block;
                color:#fff;
                padding:10px 25px;
                position: relative;
                color:$grey-500;
                &::after{
                    display: block;
                    font-family: 'simple-line-icons';
                    content: "\e606";
                    position: absolute;
                    right:25px;
                    top:14px;
                    font-size:14px;
                    opacity: 0;
                    
                }
                &:hover{
                    background-color: $blue-200;
                    color:#fff;
                    &::after{
                        opacity: 1;
                    }
                }
            }
            &.active{
                > a{
                    color:$blue-200;
                    &::after{
                        color:$blue-200;
                        opacity: 1;
                    }
                    &:hover{
                        background-color: $blue-200;
                        color:#fff;
                        &::after{
                            opacity: 1;
                            color:#fff;
                        }
                    }

                }
            }
        }
        .row{
            display: flex;
            // align-items: stretch;
            height: 100%;
        }
        .column-left{
            max-width: 35%;
            flex:0 0 35%;
            background-color:lighten($grey-100,15%);
            padding-left:10%;
            padding-top: 10px;
            overflow: auto;
            padding-bottom:100px;
        }
        .column-right{
            max-width:65%;
            flex:0 0  65%;
            background-color:#fff;
            padding:25px 20px;
            padding-right:10%;
        }
        .dropdown{
            position: relative;
            > a{
                &::after{
                    content:"\e604";
                    font-family: 'simple-line-icons';
                    font-size: 14px;
                    margin-left:5px;
                    display: inline-block;
                }
            }
        }
        .dropdown-list{
           max-height: 0;
           overflow: hidden;
           height:100vh;
           position: fixed;
           top:50px;
           left:0;
           right:0;
           width:100vw;
           background: #fff;
           transform:translateY(-20px);
       
           .menu-item{
            &.active{
                font-weight: $medium;
            }
           }
        }
        .dropdown{
            &:hover{
                > .dropdown-list{
                    max-height: 100vh;
                    overflow: auto;
                    transform:translateY(0);
                }
            }
        }
    }
    &.mobile{
        position: fixed;
        top:0;
        right:0;
        bottom:0;
        height:100vh;
        overflow: auto;
        background-color: #fff;
        width:100%;
        padding-top:50px;
        transform:translateX(100%);
        z-index: 2;
        transition:transform 0.3s ease;
        &.show-menu{
            transform:translateX(0);
        }
        .menu{
            border-top:2px solid $grey-500;
        }
        .menu__item{
            .menu-title{
             padding: 7px 20px;
             display: block;
             line-height: 1.8;
             &:hover{
                 color:#fff;
                 background-color:$blue-200;
             }
            }
             .menu-list{
                 padding:0 20px;
                 a{
                     display: inline-block;
                     padding:10px 15px;
                     position: relative;
                     &::after{
                         content:"";
                         display: block;
                         height:4px;
                         background-color:darken($blue-200,10%);
                    
                         opacity: 0;
                         position: absolute;
                         bottom:4px;
                         left:15px;
                         right:15px;
                     }
                     &:hover{
                         &::after{
                             opacity: 1;
                         }
                     }
                 }
             }
            
         }

         @include min-mq(660px){
             max-width:380px;
         }

    }
}

.megamenu{

}
.megamenu-item{
    display: none;
    &.active{
        display: block;
    }
}
.megamenu-title{
    font-size:60px;
    color:$blue-200;
    font-weight: $light;
    margin-bottom: 15px;
}
.megamenu-content{
    display: flex;
    .item{
        flex:1;
        a{
            color:$blue-200;
        }
        p{
            margin:0 0 15px;
        }
        img{
            margin-bottom:15px;
        }
    }
    .item-list{
        font-size:18px;
        a{
           
            display: inline-block;
            padding:10px 0;
            position: relative;
            &::after{
                content:"";
                height:2px;
                background-color:$blue-200;
                width: 100%;
                display: block;
                position: absolute;
                bottom:11px;
                opacity: 0;
            }
            &:hover{
                &::after{
                    opacity: 1;
                }
            }
        }
    }
}

